<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">
                    Register</p>
                <form class="login" name="registerForm">
                <input type="text" placeholder="Username" ng-model="username" required/>
                <input type="email" placeholder="Email" ng-model="email" required/>
                <input type="password" placeholder="Password" ng-model="password" required/>
                <input type="password" placeholder="Repeat password" ng-model="passwordRepeat" ng-change="checkPassword()" required/>
                <p style="color: red;">{{noMatch}}</p>
                <input type="submit" value="Register" ng-disabled="notValid" ng-click="registerForm.$valid && register()" class="btn btn-success btn-sm" />
                </form>
                <p class="form-title" style="color: red;">
                {{error}}</p>
            </div>
        </div>
    </div>
</div>
