<div class="container">
    <div class="row">
        <br>
        <div class="col-md-12" >
            <div class="media-left">
                <img class="media-object" ng-src="rest/books/get/{{book.id}}" style="width: 260px; height: 420px;" alt="Image">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Author: {{book.author}}</h4>
                <h4 class="media-heading">Name: {{book.name}}</h4>
                Description: {{book.description}}
                <br>
                <button class="btn btn-gradient-blue" ng-click="editBook()">Edit book</button>
            </div>
            <div class="media-body" ng-show="book.rentable && book.quantityToRent > 0">
                <button class="btn btn-success btn-sm" ng-click="rentBook()">Rent this book</button>
            </div>
            <div class="media-body" ng-show="book.sellable && book.quantityToSell > 0">
                <button class="btn btn-success btn-sm">Buy this book</button>
            </div>
        </div>
    </div>
</div>