<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                <form class="login">
                <input type="text" placeholder="Username" ng-model="username" />
                <input type="password" placeholder="Password" ng-model="password" />
                <input type="submit" value="Sign In" ng-click="login()" class="btn btn-success btn-sm" />
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" />
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 forgot-pass-content">
                            <a href="javascript:void(0)" class="forgot-pass">Forgot Password</a>
                        </div>
                    </div>
                </div>
                </form>
                <p class="form-title" style="color: red;">
                {{error}}</p>
                <p class="form-title" style="color: cyan;">
                Not a member yet?</p>
                <button type="button" class="btn btn-success btn-sm" style="display:block;margin:auto;" ng-click="createAccount()">Register</button>
            </div>
        </div>
    </div>
</div>
