<div class="container">
  <!-- Navigation -->
  <div class="row">
  <div>
  </div>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav js-nav-add-active-class">
            <li><a ui-sref="home">Home</a></li>
            <li><a ng-if="logedIn && profile.userLevel == 1" ui-sref="insertbook">Insert Book</a></li>
            <li><a ui-sref="profile">Profile</a></li>
            <li><a ui-sref="editProfile">UserProfile</a></li>
             <li><a ng-if="logedIn && (profile.userLevel == 2 || profile.userLevel == 1)" ui-sref="users">Users</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <a type="button" class="navbar-btn btn btn-gradient-blue" am-latosans="bold" href="https://susteen7.zendesk.com/hc/en-us">Support</a>
          </ul>
            <ul class="nav navbar-nav navbar-right js-nav-add-active-class">
          <li><a ng-if="logedIn" ui-sref="logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>
</div>