
<div class="container" >
<div ng-class="alertclass" ng-if="render" role="alert">
		{{alertmessage}}</div>
	<form class="form-style-7">
		<ul>
			<div ng-repeat="user in users">
				<br>
				<li><label onmouseover="this.style.color='blue';" onmouseout="this.style.color='';" ng-click="goToUser(user.username)">Username: {{user.username}}</label>
					<p align="left">
						<br>Email: {{user.email}}
					</p>
					<div class="form-group">
						<p align="left">
						Type:
					</p>
						<select ng-disabled="profile.userLevel != 2"  ng-model="user.userLevel" class="form-control"
							name="type"
							ng-options="level.level as level.type for level in levels">
						</select>
					</div>
					<button ng-disabled="profile.userLevel != 2" class="btn btn-gradient-blue" ng-click="updateUser(user)">Change</button>
					<button ng-disabled="profile.userLevel != 2" class="btn btn-gradient-blue" ng-click="deleteUser(user.username)">Delete</button>
					</li>
					<br>
			</div>
		</ul>
	</form>
</div>